

<form id="add-domain">
    <h3>New domain</h3>
    <div><label>Name</label><input type="text" id="add-domain-name" required /></div>
    <!--<div><label>Domain</label><select id="add-task-domain" required><option value="1">1</option></select></div>-->
    <!--<div><label>Skill</label><select id="add-task-skill" required><option value="0">0</option></select></div>-->
    <button>Add</button>
</form>