


    <h3>{{body.name}}</h3>
    <div class="balance currency">{{body.balance}}</div>
    <span class="skill">{{body.localSkillId}}</span>

    <div class="relation">
        <div class="action">
            <form class="move-funds" data-pot-id="{{body.potId}}">
                <div class="form-row">
                    <input type="number" class="small"/>
                    <button class="small">V</button>
                </div>
            </form>

        </div>

    </div>
